.card {
  border-radius: 10px;
}

.card-title {
  color: #79a162;
}
.card-title:hover {
  cursor: pointer;
}

.inline-list li {
  display: inline-block;
  margin: auto 5px;
  span {
    color: #777;
  }
}
